html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Bellota-BoldItalic', sans-serif;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top,
.middle,
.bottom {
    padding: 10px 20px;
}

.top {
    background-color: #8D230F;
    color: #FFFFFF;
}

.middle {
    flex: 1;
    background-color: #9B4F0F;
}

.bottom {
    background-color: #C99E10;
    color: #000000;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

li a:link {
    color: #C99E10;
}
li a:visited {
    color: #4B7447;
}
li a:hover {
    color: #FFFFFF;
}
li a:active {
    color: #FFFFFF;
}

button {
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: #C99E10;
    color: #000000;
}